*.log
**/*.pickle
**/*.json
**/*.csv
**/*.xml
**/*.zip
**/*.tar.xz
**/error_list *.txt
**/*.png


.idea

**/*.patch

/src/flix/pickle_jar/
/src/trends/old_data/pickles/
/src/won/output/
/tiffany_movie_urls.txt
/tiffany_movies.txt
/wade_movie_urls.txt
/wade_movies.txt
